@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-secondary text-gray-300 min-h-screen flex flex-col;
}

@layer components {
  .current-page {
    position: relative;
  }
  .current-page::before {
    @apply absolute w-1 right-0 h-full bg-accent top-0 bottom-0;
    content: "";
  }
}
