@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-secondary text-white min-h-screen flex flex-col;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .text-section {
    @apply text-primary text-xl uppercase;
  }

  .section-underline {
    @apply relative before:h-[2px] before:absolute before:bottom-0 before:left-0 before:-right-4 before:bg-gray-300;
  }
}

@layer components {
  .current-page {
    @apply relative;
  }
  .current-page::before {
    @apply absolute bg-accent h-1 sm:w-1 sm:h-full w-full right-0 top-0 sm:bottom-0;
    content: "";
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @apply overflow-hidden;
  }
}
